<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673837821568-16he8filgso6pcepk4qa3b7v6i080o2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673837821568-16he8filgso6pcepk4qa3b7v6i080o2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCzP-7EdqRVHsY34MLn1Q4oKTLmT97Rdzw</string>
	<key>GCM_SENDER_ID</key>
	<string>673837821568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nagarcode.yogaHouse</string>
	<key>PROJECT_ID</key>
	<string>yoga-house-bbdb8</string>
	<key>STORAGE_BUCKET</key>
	<string>yoga-house-bbdb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673837821568:ios:3f0e4f813e2b1dd9ccc065</string>
</dict>
</plist>